In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.available
plt.style.use('seaborn')

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/nttuan8/DL_Tutorial/master/L2/dataset.csv')
data.head()

   Lương  Thời gian làm việc  Cho vay
0     10                 1.0        1
1      5                 2.0        1
2      6                 1.8        1
3      7                 1.0        1
4      8                 2.0        1

In [ ]:
data = data.rename(columns={'Lương': 'x1', 'Thời gian làm việc': 'x2', 'Cho vay': 'y'})
y = pd.DataFrame(data['y'])
X = data.drop(columns='y')
X['x0'] = pd.Series(np.ones(len(X)))

In [ ]:
def sigmoid(z):
  s = 1/(1 + np.exp(-z))
  return s

In [ ]:
n_Iter = 250
rate = 0.02
w = np.array([0.,0.1,0.1]).reshape(-1,1)
for i in range(1, n_Iter):
  y_predict =sigmoid(np.dot(X,w))
  L = -np.sum(y * np.log(y_predict) + (1-y) * np.log(1-y_predict))
  w = w - rate * np.dot(X.T, y_predict-y)

print(w)
print(L)

[[0. ]
 [0.1]
 [0.1]]
[[ 0.03284588]
 [ 3.87869003]
 [-5.17983703]]
y    7.350412
dtype: float64

In [ ]:
test = pd.DataFrame(data=np.array([[2, 3], [1, 8], [5, 5]]), columns=['x1', 'x2'])
test['x0'] = np.ones(test.shape[0])
Y_predict= sigmoid(np.dot(test, w))
Y_predict

array([[0.99853132],
       [1.        ],
       [0.99999943]])